*{
  margin: 0;
  list-style: none;
}

body{
  display: block;
  overflow: hidden;
  overflow-y: scroll;
}

body section{
  display: block;
}

header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 95vw;
  align-items:center;
  padding: 7px 3% 7px 17%;
  z-index: 18;
}

header > img{
  width: 90px;
}

.hashbar-container{
  display: block;
}

.hashbar{
  width:37px;
  height: 5px;
  background-color: gray;
  margin: 10px;
}

.context-menu{
  width: 23vw;
  height: 100vh;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 0 ;
  padding: 135px 12px 12px 12px;
  border: 1px solid;
  background-color: aliceblue;
  transition: all ease-in 900ms;
  opacity: 0;
  transform: translateX(27vw);
  align-items: flex-start;
  z-index: 1000;
}

.context-menu[data-active]{
  transform: translateX(0);
  opacity: 1;
}

.context-items{
  display: block;
  flex-direction: column;
  gap: 23px;
  align-items: center;
  min-height: 35px;
  padding:  10px 3%;
  text-align:start;
  font-size: 2em;
}

.x{
  position: absolute;
  top: 78px;
  right: 32px;
  width: 30px;
  height: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  cursor: pointer;
}

.extra{
  opacity: 0;
  height: 0;
  transform: scale(0);
  transition: all ease 900ms,height  ease-in 2s ;
}

.extra[data-active = 'true']{
  transform: scale(1);
  height: inherit;
  opacity: 1;
}

.added-context{
  font-weight: 100;
  transform: rotate(45deg);
  font-size: 22px;  
  cursor: pointer;
  align-self: flex-end;
}

.intro{
  width: 100vw;
  position:absolute;
  top: 0;
  opacity: 0;
  transition: all ease-in 900ms 100ms;
}

.intro > img{
  width: 100%;
  height: 100vh;
}

.intro[data-active]{
  opacity: 1;
  transition: all 900ms 0ms;
}

.background-dimmer{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.background-dimmer  h2{
  font-size: 3rem;
}

.background-dimmer p{
   font-size: 2rem;
}

.background-words{
  width: 54vw;
}

.carousel-button{
  position: absolute;
  top: 50%;
  z-index: 20;
  font-size: 3rem;
  background-color: rgba(3, 3, 3, 0.178);
  color: aliceblue;
  cursor: pointer;
}

.carousel-button[data-carousel = "prev"]{
  left: 1rem;
}

.carousel-button[data-carousel = "next"]{
  right: 1rem;
}

.events-hero{
  position: static;
  
  display: block;
  width: 100vw;
  height: 100px;
  background-color: rgba(76, 4, 4, 0.711);
}